.page-editor {
    .container {
        max-width: calc(691px + 4rem + 2px);

        @include respond-above(lg) {
            width: calc(691px + 4rem + 2px);
        }
    }

    .site-content {
        @media screen and (min-width: 768px) and (max-width: 1600px) {
            margin-left: 50px;
        }

        &.is-expand {
            @media screen and (min-width: 1024px) {
                margin-right: 650px;
            }
        }
    }

    .site-aside {
        z-index: 3;

        &.is-active {
            display: block;
            max-width: 95%;

            .column-content {

                .nav-content {}
            }
        }

        @include respond-above(lg) {

            .column-content {
                max-width: 600px;

                .nav-content {
                    width: 600px;
                }
            }
        }
    }
}

.editor {
    max-width: 691px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
}

.page-magazine {
    .container {
        @include respond-above(lg) {
            width: calc(100% );
            max-width: calc(100% );

            .editor {
                max-width: 100%;
            }
        }
    }

    // .site-content {
    //     @media screen and (min-width: 768px) and (max-width: 1600px) {
    //         margin-left: 50px;
    //     }

    //     &.is-expand {
    //         @media screen and (min-width: 1024px) {
    //             margin-right: 650px;
    //         }
    //     }
    // }
}