.page-login {
    background: url('../images/bg-login.png') top center no-repeat #f3f3f3;

    .site-header {
        background-color: $primary;
    }

    .site-content {
        margin-top: 5rem;
    }
}