/* site nav */
.site-nav {
    width: 280px;
    position: fixed;
    top: 3.5rem;
    left: 0;
    bottom: 0;
    background-color: #2E3842;
    display: none;
    z-index: 3;

    &.is-active {
        display: block;
    }

    h5 {
        padding: 0.75rem 1rem;
        margin-bottom: 0;
        position: relative;
        color: white;
        font-size: 1.125rem;
        font-weight: bold;
        text-transform: uppercase;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background-color: white;
            width: 4px;
            height: 16px;
            top: 50%;
            left: 0;
            margin-top: -8px;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    &-wrap {
        overflow-y: auto;
        height: 100%;

        &::-webkit-scrollbar-track {
            background-color: #fff;
        }

        &::-webkit-scrollbar {
            width: 4px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: #555;
        }
    }

    .children {
        li {
            font-size: 0.875rem;
            padding: 0.75rem 1rem;
            opacity: 0.5;

            &.is-active,
            &:hover {
                background-color: #20272E;
                opacity: 1;
            }

            &.is-active {
                background-color: $primary;
            }

            a {
                color: white;
                display: block;
            }
        }

        [class^="fa"] {
            margin-right: 0.25rem;
        }
    }

    @include respond-above(md) {
        display: block;
        width: 240px;
    }

    &__trigger {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;

        .btn-trigger {
            display: block;
            border: 1px solid #ddd;
            background: white;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: $primary;
                color: white;
                border: 1px solid darken($primary, 5%);
            }

            .alt {
                display: none;
            }
        }
    }

    &.triggerable {
        @media screen and(max-width: 1600px) {
            right: 100%;
            left: auto;

            .site-nav__trigger {
                display: block;
            }

            .site-nav-wrap {}

            &.is-active {
                .origin {
                    display: none;
                }

                .alt {
                    display: inline;
                }

                left: 0;

                .origin {
                    display: none;
                }
            }
        }
    }
}

// right nav
.site-aside {
    position: fixed;
    top: 3.5rem;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid #ddd;

    &::-webkit-scrollbar-track {
        background-color: #fff;
    }

    &::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 20px;
    }

    .column-nav {
        width: 48px;
        // background-color: #fafafa;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .nav-item {
        display: block;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        vertical-align: middle;

        &:hover,
        &.is-active {
            background-color: #f0f0f0;
        }
    }

    .column-content {
        max-width: 300px;
        border-left: 1px solid #eee;
        margin-left: 48px;

        .nav-content {
            display: none;
            width: 300px;
            position: relative;

            &.is-active {
                display: block;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -1px;
                width: 1px;
                background-color: #eee;
            }
        }
    }

    @include respond-above(md) {
        display: flex;
    }
}

// main nav
#mainNav {
    margin-left: auto;
    margin-right: auto;

    &.is-pinned {
        position: fixed;
        background: white;
        z-index: 3;
        border: 1px solid #ddd;

        .nav-link {
            padding: 0.25rem 0.5rem;
        }
    }

    .nav-item {
        &.is-active {
            background-color: $primary;

            .nav-link {
                color: white;
            }
        }
    }

    &.cyan {
        .nav-item {
            &.is-active {
                background-color: $cyan;
            }
        }
    }
}