/* zone style */
.zone {}

// box style white backround - primary
.box {

    &__header {
        margin-bottom: 0;
        color: white;
        background-color: $primary;
        padding: 1rem;
        @include clearfix;

        &.secondary {
            background-color: $secondary;
        }

        &.red {
            background-color: $red;
        }

        &.yellow {
            background-color: $yellow;
        }

        &.cyan {
            background-color: $cyan;
        }
    }

    &__title {
        font-size: 1rem;
        margin-bottom: 0;
    }

    &__content {
        padding: 1rem;
        background-color: white;
    }

    &__footer {
        margin-top: 0.5rem;
    }

    @include respond-above(md) {
        &__title {
            font-size: 1.125rem;
        }
    }

    &--transparent {
        .box {
            &__content {
                padding: 1rem 0 0;
                background-color: transparent;
            }
        }
    }
}