.text-normal,
.normal-text {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-small {
    font-size: 1.25rem;
    line-height: 1.3;
}

.text-link {
    color: $primary;

    &:hover {
        text-decoration: underline;
    }
}

.text-black {
    font-weight: 900;
}

.form-control {
    &.border-full {
        border: 1px solid #ced4da;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        &:focus {
            border-color: $primary;
        }
    }
}