[aria-expanded="false"] {
    .short {
        display: none;
    }
}

[aria-expanded="true"] {
    .full {
        display: none;
    }

    .short {
        display: block;
    }
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 20%);
    transform: translate(0, 20%);
}

a.btn {
    cursor: pointer;

    &:not([href]):not([tabindex]) {
        color: white;
    }
}

.btn-round {
    border-radius: 30px;
    min-width: 100px;
}

h2,
h3 {
    &.title {
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        display: inline-block;
        padding-bottom: 0.625rem;
        margin-bottom: 1rem;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            height: 4px;
            background-color: $secondary;
        }
    }
}

h2.title {
    font-size: 2rem;
}

.form-control {
    &.error {
        border: 1px solid red;

        &~.error {
            font-size: 0.875rem;
            margin-bottom: 0;
            color: red;
        }
    }
}

.form-group {
    &.form-inline {
        align-items: flex-end;

        &>label {
            width: 25%;
            justify-content: flex-start;
        }

        &>.form-control {
            width: 73%;
            margin-left: auto;
        }
    }
}

.grecaptcha-badge {
    visibility: collapse !important;
    display: none !important;
}

.list-text {
    .labelSmall {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .ulNewsRelation {
        padding-left: 0;
        list-style-type: none;

        li {
            padding-left: 24px;
            margin-bottom: 0.5rem;
            position: relative;
        }

        .delete {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            margin-right: 10px;
            color: $red;

            &::before {
                font-family: "Font Awesome 5 Pro";
                content: '';
                display: inline;
            }

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.search-wrap {
    position: relative;

    .fa-search {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
    }
}