.site-footer {
    @include clearfix();

    &__nav {
        background-color: $blue;
        display: none;

        .nav-link {
            color: white;
            text-transform: uppercase;
            font-size: 0.875rem;
            padding: 1rem 0.5rem;
        }

        .nav-item {
            position: relative;

            &:hover {
                .nav-link {
                    background-color: darken($blue, 10%);
                }

                .nav-sub {
                    display: block;
                }
            }
        }

        .nav-sub {
            display: none;
            position: absolute;
            top: 100%;
            left: auto;
            right: 0;
            width: 300px;
            list-style-type: none;
            padding-left: 0;
            background-color: #e0e0e0;
            z-index: 3;
        }

        .input-wrap {
            position: relative;

            &:hover {
                background: white;
            }

            .fa-search {
                position: absolute;
                right: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
            }

            .form-control {
                background-color: transparent;
                border-radius: 0;
                border: none;
                font-size: 0.625rem;
                height: 45px;
                text-transform: uppercase;

                &:hover,
                &:active,
                &:focus {
                    border: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
        }

        @include respond-above(lg) {
            display: flex;
        }

        @include respond-above(xl) {
            .nav-link {
                padding: 1rem;
            }
        }
    }

    &__info {
        background-color: #0C2A4B;
        padding: 2.5rem 0;

        p {
            margin-bottom: 0;
            opacity: 0.7;
        }
    }
}